<head>
  <title>price</title>
</head>

<body>

  {{> hello}}
</body>

<template name="hello">
  <input type="text" value="ETH,BTC,LTC" id="assetNames"><br>
  
  <div style="margin-top: 20px;">
    <input type="text" value="08/21/16 12:00" id="startDate">
    <input type="text" value="08/22/16 12:00" id="endDate">  
  </div>
  
  <div style="margin-top: 20px;">
    <button>Call Function</button>
  </div>
  
</template>